<!DOCTYPE html>
<html>

<head>
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  <link rel="stylesheet" href="styles/css/app.css">
  <base href="/">
</head>

<body ng-app="movieApp" class="container">

  <div ng-controller="showTimesController" class="col-md-6 col-sm-12 col-xs-12 col-centered mainContainer">

    <div class="form-group search-container">
      <div class="input-group">
        <input type="text" class="form-control" ng-model="searchMovies">
      </div>
    </div>

    <div class="cinemaContainer">
      <span ng-repeat="cinema in showTimes" class="cinema" ng-class="{'active': selectedCinema === cinema.name}" ng-click="handleCinemaSwitch(cinema)">
        {{cinema.name}}
      </span>
      <div class="filters">
        <div class="filter">
          <label for="sort">Sort:</label>
          <select ng-model="sortExpression">
            <option value="+title">(A-Z)</option>
            <option value="-title">(Z-A)</option>
          </select>
        </div>
        <div class="filter">
          <label for="sort">Rating:</label>
          <select ng-model="filterRating">
            <option value="{{undefined}}">All</option>
            <option value="PG-13">PG-13</option>
            <option value="R">R</option>
          </select>
        </div>
      </div>
    </div>

    <div class="movieContainer" ng-if="currentMovies">
      <div ng-repeat="movie in currentMovies | orderBy: sortExpression | filter: searchMovies | filter: {rating: filterRating}" class="movie row">
        <div class="posterContainer col-md-4">
          <img src="{{movie.poster}}">
        </div>
        <div class="movieInfo col-md-8">
          <div class="movieTitle">
            <span class="title"> {{movie.title}} </span> <span class="rating"> ({{movie.rating}}) </span>
          </div>
          <div class="showTimes">
            <span ng-repeat="time in movie.showtimes" ng-class="compareTimes(time)"> {{time}} </span>
          </div>
      </div>
    </div>

  <div>

  <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.1/angular.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.1/angular-route.js"></script>
  <script src="minified/scripts/scripts.min.js"></script>
</body>
</html>